@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*
--blue:#00b8b8;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   */


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    animation: fadeIn 1s ease-in-out;

}
.color{
  color: #00b8b8;
  font-size: 2.5rem;
}

.margin{
  margin-right: 153px;
}
.size{
  font-size: 15px;
}
::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background-color:#00b8b8 ;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}
section{
    padding: 7rem 2rem;
}
.text{
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.header{
    padding:1.3rem;
    border-bottom: .2rem solid rgba(0,0,0,.1);
    font-size: 25px;
}

.header.active{
    backdrop-filter: blur(10px);
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    border: 0;
}

.header .logo{
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.header .logo span{
    color: #00b8b8;
}

.header .nav a{
    margin: 0 1rem;
    font-size: 1.9rem;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.header .nav a:hover{
    color: #00b8b8;
}

.link-btn{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background-color: #00b8b8;
    cursor: pointer;
    font-size: 1.7rem;
    color: white;
}

.link-btn:hover{
    background-color: black;
    color:white ;
    text-decoration: none;
}


#menu-btn{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    display: none;
}

/*home section styling*/
.home{
    background: url(img/Untitled-design-4-1024x731.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.home_dis {
    
}
.home .content{
    width: 50rem;
    backdrop-filter: blur(5px);
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: #00b8b8;
    font-weight: 650;
    text-shadow: #000000 5px 8px 5px;
}

.home .content p{
    font-weight: bold;
    text-shadow: #e9ecef 1px 0px 4px;
    line-height: 2;
    font-size: 1.8rem;
    color: #000000;
    padding: 1rem 0;
}

/*about section styling*/
.ezy__about13 {
    /* Bootstrap variables */
    --bs-body-color: #1e2329;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
  
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow: hidden;
    padding: 60px 0;
    position: relative;
  }
  @media (min-width: 768px) {
    .ezy__about13 {
      padding: 100px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__about13,
  .ezy__about13.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__about13,
  .ezy__about13.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
  }
  
  /* Dark Block Style */
  .dark .ezy__about13,
  .ezy__about13.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  }
  
  .ezy__about13-heading {
    font-size: 35px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  @media (min-width: 768px) {
    .ezy__about13-heading {
      font-size: 55px;
    }
  }
  
  .ezy__about13-sub-heading {
    font-size: 17px;
    line-height: 1.5;
    opacity: 0.75;
  }
  
  .ezy__about13-divider {
    width: 100px;
    height: 3px !important;
    color: var(--bs-body-color);
    opacity: 1;
  }
  .ezy__about13 img {
    transform: rotate(45deg);
    position: relative;
    top: 60px;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  .ezy__about13-img2 {
    top: -400px;
    left: 300px !important;
    position: absolute !important;
    display: none;
  }
  @media (min-width: 768px) {
    .ezy__about13-img2 {
      display: block;
    }
  }
  
  @media (min-width: 991px) {
    .ezy__about13 img {
      transform: rotate(45deg);
      position: relative;
      left: 100px;
      width: 400px;
      height: 400px;
      object-fit: cover;
    }
    .ezy__about13-img2 {
      top: 0px !important;
      left: 100px !important;
      position: relative !important;
    }
  }
  
  .ezy__about13-bg-holder {
    width: 36vw;
    position: absolute;
    top: 0;
    right:-150px;
    bottom: 0;
    background-color: rgba(var(--ezy-theme-color-rgb), 0.3);
    float: left;
  }
  .position-relative img{
    margin-left: 103px;
  }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
} 
 h3{
    font-size: 20px;
    
}
 p{
    font-size: 15px;
    
}

blockquote {
    background: #c1efef;
    padding: 15px;
    font-size: 15px;
    border-left: 5px solid #00b8b8;
    font-style: italic;
    transition: transform 0.3s;
}

blockquote:hover {
    transform: scale(1.05);
} 

/*services styling starts*/
/* .services{
    background: #eee;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem,1fr));
    gap: 2rem;
}

.services .box-container .box{
    text-align: center;
    padding: 2rem;
    background-color: white;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    border: .2rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
}

.services .box-container .box img{
    margin: 1rem 0;
    height: 4rem;
}

.services .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: black;
}

.services .box-container .box p{
    color: #666;
    font-size: 1.5rem;
    line-height: 2;
} */
.ezy__service20 {
    /* Bootstrap variables */
    --bs-body-color: #28303b;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-card-bg: #ffffff;
    --ezy-card-box-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
  
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    position: relative;
    padding: 60px 0;
    z-index: 1;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    .ezy__service20 {
      padding: 100px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__service20,
  .ezy__service20.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  
    /* Easy Frontend variables */
    --ezy-card-bg: #f6f6f6;
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__service20,
  .ezy__service20.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
  
    /* Easy Frontend variables */
    --ezy-card-bg: rgb(30, 39, 53);
    --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  }
  
  .dark .ezy__service20,
  .ezy__service20.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  
    /* Easy Frontend variables */
    --ezy-card-bg: rgb(11, 23, 39);
    --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  }
  
  .ezy__service20-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
  }
  
  @media (min-width: 768px) {
    .ezy__service20-heading {
      font-size: 40px;
    }
  }
  
  .ezy__service20-sub-heading {
    font-size: 17px;
    line-height: 1.5;
    opacity: 0.8;
  }
  
  /* shapes */
  .ezy__service20-shape-one {
    z-index: -1;
    bottom: -20%;
    left: 0;
  }
  .ezy__service20-shape-two {
    z-index: -1;
    top: -20%;
  }
  .ezy__service20-card {
    background-color: var(--ezy-card-bg);
    box-shadow: var(--ezy-card-box-shadow);
  }
  .ezy__service20-icon {
    font-size: 40px;
    color: var(--ezy-theme-color);
  }
/*process section styling*/
.process .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem,1fr));
    gap: 4rem;
}

.process .box-container .box h3{
    font-size: 2rem;
    color: #00b8b8;
    padding: 1rem 0;
    text-align: center;
}

.process .box-container .box p{
    font-size: 1.5rem;
    color: black;
    line-height: 2;
    text-align: center;
}
/* treatment */
/* Treatment Section Styling */
.treatment {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.treatment .cont {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.treatment .heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

#search {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search:focus {
    border-color: #007bff;
    outline: none;
}

/* Table Styling */
#treatmentsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#treatmentsTable thead {
    background: #007bff;
    color: white;
}

#treatmentsTable th, 
#treatmentsTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#treatmentsTable tbody tr:nth-child(even) {
    background: #f9f9f9;
}

#treatmentsTable tbody tr:hover {
    background: #e9ecef;
    transition: 0.3s;
}

/* Responsive Design */
@media (max-width: 600px) {
    #search {
        width: 100%;
    }

    #treatmentsTable th, 
    #treatmentsTable td {
        padding: 10px;
        font-size: 14px;
    }
}

/* team */
.ezy__team20 {
    /* Bootstrap variables */
    --bs-body-color: #212529;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-item-bg: #fff;
    --ezy-item-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
  
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow: hidden;
    padding: 60px 0;
  }
  
  @media (min-width: 768px) {
    .ezy__team20 {
      padding: 100px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__team20,
  .ezy__team20.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  
    /* Easy Frontend variables */
    --ezy-item-bg: #fff;
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__team20,
  .ezy__team20.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
  
    /* Easy Frontend variables */
    --ezy-item-bg: rgb(11, 23, 39);
    --ezy-item-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  }
  
  /* Dark Block Style */
  .dark .ezy__team20,
  .ezy__team20.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  
    /* Easy Frontend variables */
    --ezy-item-bg: rgb(30, 39, 53);
    --ezy-item-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  }
  
  .ezy__team20-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
  }
  
  @media (min-width: 768px) {
    .ezy__team20-heading {
      font-size: 45px;
    }
  }
  
  .ezy__team20-sub-heading {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    opacity: 0.6;
  }
  
  .ezy__team20-item {
    background-color: var(--ezy-item-bg);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--ezy-item-shadow);
    transition: transform 0.25s ease-in-out;
  }
  
  .ezy__team20-content {
    border-radius: 15px 15px 0 0;
  }
  
  .ezy__team20-item img {
    border-radius: 15px 15px 0 0;
    padding-bottom: 0;
  }
  
  .ezy__team20-btn {
    padding: 12px 30px;
    color: #fff;
    background-color: var(--ezy-theme-color);
  }
  .ezy__team20-btn:hover {
    color: #fff;
    background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  }
/*reviews section styling*/
/* .reviews  {
    font-size: 2.5rem;
    color: #0077b6;
    margin-bottom: 30px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 300px;
    text-align: center;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.box p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.stars {
    color: #ffdd57;
    margin-bottom: 10px;
}

.box h3 {
    font-size: 1.2rem;
    color: #0077b6;
}

.box span {
    font-size: 0.9rem;
    color: #777;
}

.reviews img{
    object-fit: cover;
} */
.ezy__testimonial23 {
    /* Bootstrap variables */
    --bs-body-color: #28303b;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-card-bg: #ffffff;
    --ezy-card-box-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
  
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow: hidden;
    position: relative;
    padding: 60px 0;
  }
  
  @media (min-width: 768px) {
    .ezy__testimonial23 {
      padding: 100px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__testimonial23,
  .ezy__testimonial23.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  
    /* Easy Frontend variables */
    --ezy-card-bg: #fff;
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__testimonial23,
  .ezy__testimonial23.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
  
    /* Easy Frontend variables */
    --ezy-card-bg: rgb(30, 39, 53);
    --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  }
  
  /* Dark Block Style */
  .dark .ezy__testimonial23,
  .ezy__testimonial23.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  
    /* Easy Frontend variables */
    --ezy-card-bg: rgb(11, 23, 39);
    --ezy-card-box-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
  }
  
  .ezy__testimonial23-heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
  }
  .ezy__testimonial23-sub-heading {
    opacity: 0.8;
    font-size: 18px;
    line-height: 1.7;
  }
  
  /* shapes */
  .ezy__testimonial23-shape-one {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .ezy__testimonial23-shape-two {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .ezy__testimonial23-item {
    background-color: var(--ezy-card-bg);
    box-shadow: var(--ezy-card-box-shadow);
  }
  
  /* indicators */
  .ezy__testimonial23 .carousel-indicators {
    margin: 0;
    bottom: -50px;
  }
  
  .ezy__testimonial23 .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bs-body-color);
    opacity: 0.2;
  }
  
  .ezy__testimonial23 .carousel-indicators button.active {
    background-color: rgba(var(--ezy-theme-color-rgb), 1) !important;
    color: rgba(var(--ezy-theme-color-rgb), 1) !important;
    opacity: 1;
  }
/*contact styling*/
.contact form{
    border-radius: .5rem;
    background-color:#eee ;
    padding: 2rem;
    margin: 0 auto;
    max-width: 80rem;
    /* margin-top: -2rem; */
}
.contact label{
    font-size: 1.7rem;
 
}
.contact form .box{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: white;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    transform: none;
}

.contact form span{
    font-size: 1rem;
    color: #666;
}
.contact button{
    padding: 1.5rem 3rem;
    border-radius: .5rem;
    background-color: #00b8b8;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: auto;
}
/* Contact */
<section class="ezy__contact13 dark-gray" id="ezy__contact13"
	style="background-image: url(https://cdn.easyfrontend.com/pictures/contact/contact13.jpg)">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-10 col-md-8">
				<div class="form-body">
					<div class="row">
						<div class="col-12 text-center pb-5">
							<h3 class="ezy__contact13-heading">Contact Us</h3>
							<p class="ezy__contact13-sub-heading pt-2 pb-4">
								Lorem ipsum dolor sit amet consectetur.
							</p>
						</div>

						<form id="ezy__contact13-form" class="ezy__contact13-single-form row" action="">
							<div class="form-group col-12 col-md-6">
								<input class="ezy__contact13-contact-name form-control" type="text" name="name"
									placeholder="FULL NAME" />
							</div>
							<div class="form-group col-12 col-md-6">
								<input class="ezy__contact13-contact-email form-control" type="text" name="email"
									placeholder="EMAIL" />
							</div>
							<div class="form-group col-12">
								<textarea class="ezy__contact13-contact-message form-control" name="message"
									placeholder="MESSAGE" rows="5"></textarea>
							</div>

							<div class="col-12">
								<div class="text-center mt-4">
									<button class="btn ezy__contact13-btn">SEND MESSAGE</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
.ezy__contact13 {
  --bs-body-color: #212529;
  --bs-body-bg: #f6f6f6;

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-form-bg: rgba(255, 255, 255, 0.7);
  --ezy-border-color: rgba(0, 0, 0, 0.3);
  --ezy-btn-bg: #00bfa5;
  --ezy-border-color-hover: #00bfa5;

  background-color: var(--bs-body-bg);
  background-size: cover;
  background-position: center;
  background-attachment: initial;
  background-repeat: no-repeat;
  padding: 100px 0;
}

/* Gray Block Style */
.gray .ezy__contact13,
.ezy__contact13.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
  --ezy-content-color: #f6f6f6;

  /* Easy Frontend variables */
  --ezy-form-bg: rgba(246, 246, 246, 0.7);
}

/* Dark Gray Block Style */
.dark-gray .ezy__contact13,
.ezy__contact13.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-form-bg: rgba(30, 39, 53, 0.4);
  --ezy-border-color: rgba(255, 255, 255, 0.9);
}

/* Dark Block Style */
.dark .ezy__contact13,
.ezy__contact13.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-form-bg: rgba(11, 23, 39, 0.4);
  --ezy-border-color: rgba(255, 255, 255, 0.9);
}

.ezy__contact13-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .ezy__contact13-heading {
    font-size: 45px;
  }
}

.ezy__contact13-sub-heading {
  font-size: 17px;
  color: var(--bs-body-color);
  line-height: 1.5;
  opacity: 0.8;
}

.ezy__contact13 .form-body {
  display: inline-block;
  background-color: var(--ezy-form-bg);
  padding: 100px 75px;
  backdrop-filter: blur(9px);
}

.ezy__contact13-single-form .form-control::-webkit-input-placeholder {
  color: var(--bs-body-color) !important;
  opacity: 0.9;
}

.ezy__contact13-single-form .form-control:focus {
  border-bottom-color: var(--ezy-border-color-hover);
}

.ezy__contact13-single-form .form-control {
  height: 54px;
  border: 0;
  border-bottom: 2px solid var(--ezy-border-color);
  border-radius: 0;
  padding: 0;
  box-shadow: var(--ezy-box-shadow);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: transparent;
  color: var(--bs-body-color);
  margin-bottom: 30px;
  transition: all 0.4s ease-out;
}

.ezy__contact13-single-form .form-control::-webkit-input-placeholder {
  color: var(--bs-body-color) !important;
  opacity: 0.8;
}

.ezy__contact13-single-form .form-control:focus {
  border-color: var(--ezy-theme-color);
}

.ezy__contact13-single-form textarea {
  height: 180px !important;
}

.ezy__contact13-single-form .form-group {
  margin: 0px;
}

.ezy__contact13-btn {
  font-size: 16px;
  padding: 13px 45px;
  min-width: 200px;
  border-radius: 0;
  color: #fff;
  background-color: var(--ezy-theme-color);
  border-color: var(--ezy-theme-color);
}

.ezy__contact13-btn:hover {
  color: #fff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

/*footer styling*/

.ezy__footer15 {
    /* Bootstrap variables */
    --bs-body-color: #28303b;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-body-color-invert: rgb(246, 246, 246);
    --ezy-icon-shadow: 0 7px 16px 0 rgba(39, 42, 52, 0.12);
    --ezy-hr-color: rgba(117, 117, 117, 0.39);
  
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    padding: 60px 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .ezy__footer15 {
      padding: 80px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__footer15,
  .ezy__footer15.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  
    /* Easy Frontend variables */
    --ezy-body-color-invert: rgb(255, 255, 255);
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__footer15,
  .ezy__footer15.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(64, 65, 86);
  
    /* Easy Frontend variables */
    --ezy-body-color-invert: rgb(46, 47, 65);
    --ezy-icon-shadow: none;
  }
  
  .dark .ezy__footer15,
  .ezy__footer15.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(46, 47, 65);
  
    /* Easy Frontend variables */
    --ezy-body-color-invert: rgb(64, 65, 86);
    --ezy-icon-shadow: none;
  }
  
  .ezy__footer15-nav .nav-link {
    color: var(--bs-body-color);
  }
  
  .ezy__footer15-nav .nav-link:hover {
    color: var(--bs-body-color);
    opacity: 0.8;
  }
  
  .ezy__footer15-social li {
    list-style-type: none;
    display: inline-block;
  }
  
  .ezy__footer15-social li:not(:last-child) {
    margin-right: 10px;
  }
  
  .ezy__footer15-social li a {
    color: var(--bs-body-color);
    background-color: var(--ezy-body-color-invert);
    box-shadow: var(--ezy-icon-shadow);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.35s ease-in-out;
  }
  
  .ezy__footer15-social li a:hover {
    background-color: var(--ezy-theme-color);
    color: #ffffff;
  }
  
  .ezy__footer15-nav .nav-link {
    color: var(--bs-body-color);
  }
  
  .ezy__footer15-nav .nav-link:hover {
    color: var(--bs-body-color);
    opacity: 0.8;
  }
  
  .ezy__footer15-quick-links li {
    margin-bottom: 8px;
  }
  
  .ezy__footer15-quick-links li a {
    color: var(--bs-body-color);
    opacity: 0.5;
    text-decoration: none;
  }
  
  .ezy__footer15-quick-links li a:hover {
    color: var(--bs-body-color);
    opacity: 1;
  }
  
  .ezy__footer15 hr {
    background-color: var(--ezy-hr-color);
  }

@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    .header .link-btn{
        display: none;
    }

    section{
        padding: 5rem 2rem;
    }
}

@media (max-width:768px){

    section{
        padding: 3rem 1rem;
    }
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn .fa-times{
        transform: rotate(180deg);
    }

    .header .nav{
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        background-color: white;
        border-top: .2rem solid rgba(0,0,0,.1);
        border-bottom: .2rem solid rgba(0,0,0,.1);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }

     .footer{
         height: fit-content;
     }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }
}